modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "vm"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[userenv]

[userenv.shared]
TELEGRAM_SESSION_STRING = "BAJICvMAETtWWDSmgOZHIxCKNFvdbZ0yhjt1C_PGQrAj-9_JvnYJljoOOMNZLfxJD9sYt3ZtZAD0JYflRBO5f0hV_6_UiRF8MIwhxL8C77Zb2fqWeMUm06oOyyn_yi-n31Req5VA9USbmULhfHrJhstENP2zFdwlKSLIbB8f3KVd-_SfdDzf0Zr5B1KAIA7fCBo8XKElWDono6DH9Sd8wovtBSBZfNM0Ev8bqzy5hFFjiKJpU_dKMyfz6diKSsZxiUEurG_3eE9Sx-KUZEsE96sZbpQCDQvTEV4EPABBfA2Dc0CP5fD4I7tjcoEcnDYEUlidGOokx56EHgIKq999aP8CJiFv8AAAAAH-GEvnAA"
